body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body img{
    position: relative;
    height: 100vh;
    background: url('media/marble.png') center/cover no-repeat;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: #333;
    justify-content: center;
}

header img{
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: #333;
}
.product-showcase {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;

}

.product, .advertisement {
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;

}

.product:hover {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.product img, .advertisement img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

p {
    color: #555;
}

button {

    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #75a1a3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    color: #fff;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.horizontal-buttons .button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline on anchor tags */
}

.horizontal-buttons .button:hover {
    color: #75a1a3;
    background-color: #333;

}
