body {
  margin: 0;
  padding: 0;
  font-family: 'Amethysta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  overflow: auto; /* Allow content overflow */
}

/* BACKGROUND DESIGN */

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg img {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MENU DESIGN */

.menu-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.menu-bar a {
  font-family: 'Amethysta';
  color: white;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.menu-bar a:hover {
  color: #87d7d7;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  opacity: 1;
}

/* HEADER SECTION */
.header-container {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-top: -10%;
}

header {
  max-height: 100%;
  position: center;
  z-index: 2;
  margin-top: 30vh;
  margin-bottom: 20%;
  height: 20vh;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  font-family: 'Amethysta';
  font-size: 4rem;
  margin-bottom: 1px;
}

header p {
  font-size: 1rem;
}
header img {
  max-width: 100%;
  height: auto;
}

/* HEADER BUTTON */

.header-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(12, 12, 12, 0.5);
  color: #87d7d7;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.header-button:hover {
  border-radius: 100%;
  background-color: #87d7d7;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
