body {
  margin: 0;
  padding: 0;
  font-family: 'Amethysta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  overflow: auto; /* Allow content overflow */
}

/* BACKGROUND DESIGN */

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg img {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MENU DESIGN */

.menu-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.menu-bar a {
  font-family: 'Amethysta';
  color: white;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.menu-bar a:hover {
  color: #87d7d7;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  opacity: 1;
}

/* HEADER SECTION */

.header-container {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-top: -10%;
}

header {
  max-height: 100%;
  position: center;
  z-index: 2;
  margin-top: 30vh;
  margin-bottom: 20px;
  height: 20vh;
  color: #fff;
  text-align: center;
  width: 100%;
}

/* HEADER BUTTON */

.header-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(12, 12, 12, 0.5);
  color: #87d7d7;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.header-button:hover {
  border-radius: 100%;
  color: rgba(12, 12, 12, 0.9);
  background-color: #87d7d7;
  border: 2px solid rgba(255, 255, 255, 0.5);
}



/* ... (previous styles) ... */

/* CONTACT FORM */

.contact-form {
  margin-top: 5%;
  margin-left: 1%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjusted width for better appearance */
  max-width: 400px; /* Set a maximum width if needed */
  padding: 40px 80px 80px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%; /* Set the input fields to take 100% of the container's width */
  padding: 10px; /* Adjusted padding for larger input fields */
  margin-bottom: 10px;
  border: 1px solid #87d7d7;
  border-radius: 5px;
  background-color: rgba(12, 12, 12, 0.9);
  color: #87d7d7;
  outline: none;
}

.contact-form button {
  margin-top: 8%;
  margin-bottom: 2%;
  margin-left: 5%;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(12, 12, 12, 0.9);
  color: #87d7d7;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #87d7d7;
}

.contact-form button:hover {
  margin-top: 8%;
  margin-bottom: 2%;
  margin-left: 5%;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #87d7d7;
  color: rgba(12, 12, 12, 0.9);
  cursor: pointer;
  border: 2px solid #87d7d7;
}


