/* BIRDS PAGE */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: 'Aguafina Script';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  overflow: auto; /* Allow content overflow */
}

.birds-page {
  position: relative;
  margin-top: 10%;
  height: auto; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 20px;
}

.birds-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.birds-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:75%;
  margin: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.image-column {
  position: relative;
  border-radius: 20px;
}

.image-column img {
  display: flex;
  position: relative;
  z-index: 2; /* Set a higher z-index for the image */
  max-width: 400px;
  width: 90%; /* Use width: 100% to fill the container */
  height: auto;
  border-radius: 20px;
  border: 2px;
  border-color: #fff;
  margin-top: 15%;
}

h2 {
  z-index: 5;
  position: absolute;
  margin-left: 5%;
  font-size: 6rem;
  font-family: 'Aguafina Script';
  color: #ee83e5;
  margin-top: -3%;
}

.description-column {
  font-family: 'Droid Sans';
  display: flex;
  position: relative;
  z-index: 2; /* Set a higher z-index for the image */
  width: 100%; /* Use width: 100% to fill the container */
  height: auto;
  border-radius: 20px;
  border: 2px;
  border-color: #fff;
}

@media (max-width: 768px) {
  .birds-content {
    flex-direction: column;
  }
}

