body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: 'Aguafina Script'
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  overflow: auto; /* Allow content overflow */
}


/*BLUR OVERLAY*/
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.4);
    backdrop-filter: blur(10px); /* Adjust the blur strength */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.overlay-content {
    text-align: center;
    color: #ee83e5;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ee83e5;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

button:hover {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #87d7d7;
    color: rgba(12, 12, 12, 0.9);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
    font-weight: 700;
}

/* BACKGROUND DESIGN */

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  filter: opacity(0.5);
  transform: translate(-50%, -50%);
}

.bg img {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: 100px;
  transform: translate(-50%, -50%);
  filter: opacity(0.5);
}

/* MENU DESIGN */

.menu-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.menu-bar a {
  font-family: 'Droid Sans';
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.menu-bar a:hover {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  opacity: 1;
}

/* HEADER SECTION */
.header-container {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
}

header {
  max-height: 100%;
  position: center;
  z-index: 2;
  margin-top: 30vh;
  margin-bottom: 20px;
  height: 20vh;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  font-family: 'Aguafina Script';
  font-size: 7rem;
  margin-bottom: 1px;
}

header p {
  font-size: 1rem;
}
header img {
  max-width: 100%;
  height: auto;
}

/* HEADER BUTTON */

.header-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ee83e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header-button:hover {
  background-color: #d464b8;
}
/* CARDS DESIGN */

.container {
  position: relative;
  z-index: 0;
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nft {
  user-select: none;
  width: 400px;
  min-width: 400px;
  margin: 1rem;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition: 0.5s all;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.nft ins {
  text-decoration: none;
}

.nft .main {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 1rem;
}

.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}

.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}

.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}

.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.nft .main .creator ins {
  margin-left: 20px;
  color: #a89ec9;
  text-decoration: none;
}

.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

/* BUY NOW BUTTON */

.buy-now-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ee83e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buy-now-button:hover {
  background-color: #d464b8;
}

/* SLIDING TEXT SECTION */

.sliding-text-section {
  position: relative;
  margin-top: 5%;
  margin-bottom: -20%;
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 20px;
}

.sliding-text-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the text is above the blurred background */
}

.sliding-text {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
}

/* CONTACT FORM DESIGN */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contact-form {
    background-color: rgba(40, 44, 52, 0.8); /* Adjusted background color with transparency */
    padding: 40px 60px 40px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form label {
    color: #eee;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 15px;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    color: #eee;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #ee83e5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #d464b8;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to spans within .sliding-text */
.sliding-text span {
  animation: slideIn 0.5s ease; /* Adjust the duration and easing as needed */
}

